
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');



.test{
font-family: 'Syncopate';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 19px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
}