
.sheet {
  z-index: 100;
  position: fixed;
  height: calc(100vh + 100px);
  width: 100vw;

  background: #fff;
  touch-action: none;
}
.sheet2 {
  z-index: 100;
  position: fixed;
  top: 0;
  height: 105px;
  width: 100vw;
  background: rgb(225, 5, 5);
  touch-action: none;
}

.sheet > div {
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
