
.sheet {
  z-index: 100;
  position: fixed;
  height: calc(100vh + 100px);
  width: 100vw;
  background: #2e2e2e;
  opacity: 0.6px;
  touch-action: none;
}
.sheet2 {
  z-index: 101;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  background:#182D33;
  touch-action: none;

}

.sheet > div {
  height: 60px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
